html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-form {
    max-width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #5021eb;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
}

    .btn:hover {
        background-color:#aa60d1;
    }

    .btn:active {
        background-color: #5137d4;
        box-shadow: none;
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
    }

.result-container {
    text-align: center;
}

    .result-container p {
        margin-bottom: 10px;
    }

    .result-container a {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
